@media (orientation: landscape) {
    #titulo {
        visibility: collapse;
        --ion-background-color : red;
        height: 0px;
    }
}

ion-grid {
    background-color: black;
}
ion-toolbar {
    --ion-background-color: red;
    color: white;
}
ion-toolbar {
    border-color: red;
}
ion-card-content {
    background-color: white;
}
.model {
    --ion-background-color : red;
    color: white;
}
h3 {
    margin-top: 4px;
}
@media (max-width: 1500px) {
    ion-item {
        --ion-background-color: #838383;
        text-align: center;
        color: #fff;
    }
}