<ion-header>
  <ion-toolbar>
    <ion-title>
        <div class="ion-text-center">
            <h3><b>Car App</b></h3>
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col *ngFor="let coche of coches | async" size-xs="12" size-sm="6" size-md="4" size-lg="2" size-xl="3" >
            <ion-card>
            <ion-item>
              <h2><b>{{ coche.Marca }} {{ coche.Modelo }}</b></h2>
            </ion-item>
            <ion-card-content>
              Bacon ipsum dolor amet salami prosciutto ham hock, strip steak buffalo ribeye pork chop. Beef ribs tenderloin tail shoulder.
              Spare ribs ham shoulder brisket rump hamburger. Pork belly kevin shoulder prosciutto ribeye pork chop chicken
              strip steak pig.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>