ion-grid {
    background-color: black;
}
ion-toolbar {
    --ion-background-color: red;
    color: white;
}
ion-toolbar {
    border-color: red;
}
ion-card-content {
    background-color: white;
}
.model {
    --ion-background-color : red;
    color: white;
}
h3 {
    margin-top: 4px;
}
@media (orientation: landscape) {
    #titulo {
        visibility: hidden;
    }
}